parameters:
	ignoreErrors:
		-
			message: "#^Array \\(array\\<class\\-string\\<Entity of object\\>, Firehed\\\\Mocktrine\\\\InMemoryRepository\\<Entity of object\\>\\>\\) does not accept Firehed\\\\Mocktrine\\\\InMemoryRepository\\<Entity of object\\>\\.$#"
			count: 1
			path: src/InMemoryEntityManager.php

		-
			message: "#^Array \\(array\\<class\\-string\\<Entity of object\\>, Firehed\\\\Mocktrine\\\\InMemoryRepository\\<Entity of object\\>\\>\\) does not accept key class\\-string\\<Entity of object\\>\\.$#"
			count: 1
			path: src/InMemoryEntityManager.php

		-
			message: "#^Method Firehed\\\\Mocktrine\\\\InMemoryEntityManager\\:\\:getRepository\\(\\) should return Firehed\\\\Mocktrine\\\\InMemoryRepository\\<Entity of object\\> but returns Firehed\\\\Mocktrine\\\\InMemoryRepository\\<Entity of object\\>\\|Firehed\\\\Mocktrine\\\\InMemoryRepository\\<Entity of object\\>\\.$#"
			count: 1
			path: src/InMemoryEntityManager.php

