parameters:
	ignoreErrors:
		-
			message: "#^Return type \\(Firehed\\\\Mocktrine\\\\InMemoryRepository\\<Entity of object\\>\\) of method Firehed\\\\Mocktrine\\\\InMemoryEntityManager\\:\\:getRepository\\(\\) should be compatible with return type \\(Doctrine\\\\ORM\\\\EntityRepository\\<object\\>\\) of method Doctrine\\\\ORM\\\\EntityManagerInterface\\:\\:getRepository\\(\\)$#"
			count: 1
			path: src/InMemoryEntityManager.php

		-
			message: "#^Property Firehed\\\\Mocktrine\\\\RepositoryContainer\\:\\:\\$values with generic class Firehed\\\\Mocktrine\\\\InMemoryRepository does not specify its types\\: Entity$#"
			count: 1
			path: src/RepositoryContainer.php

		-
			message: "#^Property Firehed\\\\Mocktrine\\\\Entities\\\\GrabBag\\:\\:\\$boolField is never read, only written\\.$#"
			count: 1
			path: tests/Entities/GrabBag.php

		-
			message: "#^Property Firehed\\\\Mocktrine\\\\Entities\\\\GrabBag\\:\\:\\$dateField is never read, only written\\.$#"
			count: 1
			path: tests/Entities/GrabBag.php

		-
			message: "#^Property Firehed\\\\Mocktrine\\\\Entities\\\\GrabBag\\:\\:\\$floatField is never read, only written\\.$#"
			count: 1
			path: tests/Entities/GrabBag.php

		-
			message: "#^Property Firehed\\\\Mocktrine\\\\Entities\\\\GrabBag\\:\\:\\$id is unused\\.$#"
			count: 1
			path: tests/Entities/GrabBag.php

		-
			message: "#^Property Firehed\\\\Mocktrine\\\\Entities\\\\GrabBag\\:\\:\\$strField is never read, only written\\.$#"
			count: 1
			path: tests/Entities/GrabBag.php

		-
			message: "#^Class Firehed\\\\Mocktrine\\\\Entities\\\\ReadonlyGeneratedId has an uninitialized readonly property \\$id\\. Assign it in the constructor\\.$#"
			count: 1
			path: tests/Entities/ReadonlyGeneratedId.php

		-
			message: "#^Property Firehed\\\\Mocktrine\\\\Entities\\\\StringId\\:\\:\\$id is never written, only read\\.$#"
			count: 1
			path: tests/Entities/StringId.php

		-
			message: "#^Property Firehed\\\\Mocktrine\\\\Entities\\\\TypedId\\:\\:\\$id is never written, only read\\.$#"
			count: 1
			path: tests/Entities/TypedId.php

		-
			message: "#^Property Firehed\\\\Mocktrine\\\\Entities\\\\UnspecifiedId\\:\\:\\$id is never written, only read\\.$#"
			count: 1
			path: tests/Entities/UnspecifiedId.php

		-
			message: "#^Property Firehed\\\\Mocktrine\\\\Entities\\\\User\\:\\:\\$active is never read, only written\\.$#"
			count: 1
			path: tests/Entities/User.php

		-
			message: "#^Property Firehed\\\\Mocktrine\\\\Entities\\\\User\\:\\:\\$notAColumn is never read, only written\\.$#"
			count: 1
			path: tests/Entities/User.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertTrue\\(\\) with false and 'First callback did…' will always evaluate to false\\.$#"
			count: 1
			path: tests/InMemoryEntityManagerTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertTrue\\(\\) with false and 'Second callback did…' will always evaluate to false\\.$#"
			count: 1
			path: tests/InMemoryEntityManagerTest.php

